/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 100%;
    font-family: "Open", sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.col {
    float: left;

    /* test */
    background-color: green;
    border: 1px solid black;
}

div.col-left-header {
    width: 50%;
}

div.col-right-header {
    width: 50%;
    text-align: right;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 75%;
    /* height: 2000px; */
    margin: 0 auto;
    background-color: darkgray;
}

/* HEADER */
header {
    width: 100%;
    height: 55px;

    /* test */
    background-color: yellow;
}

div.header-logo-container {


    /* test */
    width: 30%;
    height: 55px;
    background-color: blueviolet;
}

div.header-button-container {


    /* test */
    width: 30%;
    height: 55px;
    background-color: blueviolet;
}

nav.header-nav {
    width: 70%; 

}

nav.header-nav > ul {
    text-align: center;
    border: 1px solid orangered;
}

nav.header-nav ul > li {
    display: inline-block;
    line-height: 48px;
    /* test */
    width: calc(90% / 3);
    height: 48px;
    border: 1px solid blueviolet;
}

ul.header-list li > a {
    text-decoration: none;
}
/* /HEADER */

/* MAIN */

/* banner */
div.banner-content-container {
    height: 540px;
    background-color: rgb(243, 189, 124);
}

section.section-banner {
    height: 650px; 

    /* background-color: rgb(97, 147, 255); */
}

div.banner-content {
    width: 85%;
    height: 540px;
    background-color: brown;
    margin: 0 auto;
    padding-top: 4em;

}

div.banner-content > h1.banner-title {
    height: 70px;
    background-color: rgb(76, 248, 127);
}

div.banner-content > div.text-img {
    border: 1px solid black;
    height: 375px;
    width: 100%;
    margin-top: 2em;
    position: relative;
}

div.text-img > p.banner-text {
    width: 35%;
    height: 300px;
    background-color: rgb(76, 248, 127);
}

div.text-img > div.banner-img {
    width: 65%;
    height: 350px;
    background-color: rgb(3, 97, 0);
    position: absolute;
    right: 0;
    bottom: -30px;
}
/* /banner */

/* first section  */

div.cols-container {
    text-align: center;
}

div.cols-container > div.section-col {
    display: inline-block;
    margin: 1em 1em 0 1em;
    height: 800px;
    width: calc(100% / 3 - 3em);
    background-color: blueviolet;    
}

section > div.input-container {
    margin-top: 1.5em;
    background-color: brown;
    width: 30%;
}

/* enterprise */
div.enterprise-box {
    width: 95%;
    margin: 3em auto 0;

    /* test */
    height: 300px;
    border: 1px solid black;
    background-color: darkorange;
}

div.enterprise-box > div.enterprise-entity {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border-bottom: 2px solid black;

    /* test */
    background-color: brown;
}

div.enterprise-content-container {
    position: relative;
    width: 100%;
    height: calc(100% - 1.5em);
    padding-top: 4em;
    padding-left: 2em;


    background-color: coral;
}

div.enterprise-content-container > span.enterprise-button{
    position: absolute;
    top: 2em;
    right: 3em;

    /* test */
    background-color:rgb(0, 94, 117);
    padding: .6em 4em;
}
/* /first section  */

/* /MAIN */
