/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: "Open", sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.logo {
    filter: invert(100%);
}

.col {
    float: left;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#btn:hover {
    background-color: #008ce9 ;
}

#border-3:hover {
    border: 3px solid black;
    font-weight: 600;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* HEADER */
header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}

div.col-right-header {
    width: 50%;
    text-align: right;
}

div.col-left-header {
    width: 50%;
}

header ul.header-list > li.header-item a:hover {
    display: inline-block;
    border-bottom: 2.5px solid black;
}

div.header-logo-container {
    width: 20%;
    height: 55px;
    line-height: 55px;
}

div.header-logo-container > img#logo-img {
    width: 100%;
    vertical-align: middle;

}

div.header-button-container {
    height: 60px;
    width: 20%;
    line-height: 60px;
    padding-right: 5em;
}

div.header-button-container > a.header-button {
    background-color: #0061fe;
    color: white;
    padding: .4em 1em;
    font-size: 1.6em;
}

nav.header-nav {
    width: 80%; 
    font-size: 1.8em;
    font-weight: 500;
}

nav.header-nav > ul.header-list > li.header-item {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    margin: 0 2% 0 2%;
    position: relative;
}

ul.header-list > li.header-item > a {
    color: black;
}

li.header-item:hover ul.submenu-list {
    display: block;
}

ul.submenu-list {
    position: absolute;
    top: 3.35em;
    left: -15px;
    line-height: 30px;
    display: none;
}

ul.submenu-list > li {
    width: 180%;
    background-color: white;
    text-align: left;
    padding: 1em;
}

ul.submenu-list > li:hover {
    background-color: rgb(231, 230, 230);
}

ul.submenu-list a {
    color: black;
    font-size: .8em;
    display: inline-block;

}
/* /HEADER */

/* MAIN */
/* banner */
div.banner-content-container {
    background-color: #b4cfe6;
    padding-top: 8em;
}

section.section-banner {
    margin-bottom: 14em;
}

div.banner-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

div.banner-content > h1.banner-title {
    font-size: 5.8em;
    font-weight: 800;
}

div.text-container {
    width: 38%;
}

div.text-container > p.col-text {
    padding-top: 2.5em;
    font-size: 2.1em;
    font-weight: 500;
    margin-bottom: 1em;
}

div.text-container > div > a.banner-btn {
    background-color: #0061fe;
    color: white;
    font-size: 1.6em;
    padding: .6em 2.3em;
    display: inline-block;
}

div.text-container > div > div.periodo-prova {
    color: black;
    font-size: 1.4em;
    margin-top: .8em;
}

div.arrow-banner > a.arrow-link > i.fa-arrow-down {
    font-size: 4em;
    margin-top: .5em;
    color: black;
}

div.banner-cols > div.col-img {
    width: 62%;
    position: relative;
    bottom: -50px;
}
/* /banner */

/* first section  */
section > h2.section-title {
    font-size: 3.5em;
    margin-left: .9em;
}

section > div.input-container {
    margin-top: 1.5em;
    margin-left: 2em;
    font-size: 1.9em;
}

.ml-1{
    margin-left: 1em;
}

div.cols-container > div.section-col {
    display: inline-block;
    border: 2px solid lightgray;
    width: calc(97.5% / 3 - 4em);
    margin: 2em 2em 0 2em;
    min-height: 1200px;
    position: relative;
    left: 1.5em;
}

.pb-12 {
    padding-bottom: 12em;
}

div.section-col > div.section-col-entity {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    line-height: 2.5em;
    border-bottom: 2px solid lightgray;
}

div.section-col > div.row {
    text-align: left;
    margin-left: 2em;
}

div.row > div.section-col-title {
    margin-top: 3em;
}

div.section-col-title > h3.col-title {
    font-size: 3em;
    line-height: 70px;
}

div.section-col-title > h5.col-subtitle {
    font-size: 2em;
    line-height: 60px;
}


div.section-col-title > span.col-month {
    font-size: 1.5em;
    color: rgb(78, 90, 255);
}

div.col-list-container {
    margin-top: 3em;
}

li.list-item-col > div.col-list-item-entity {
    font-size: 1.8em;
    margin-top: 2em;
}

.ib {
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

div.col-offer-btn {
    margin-top: 4em;
    text-align: center;
}

div.col-offer-btn > a.btn-col {
    background-color: #0061fe;
    color: white;
    padding: .1em 1.5em;
    font-size: 1.8em;
    line-height: 50px;
    display: inline-block;
}

div.row > span.col-sub-btn{
    line-height: 80px;
    margin-right: 1em;
    padding-bottom: 2em;
    font-size: 1.6em;
    border-bottom: 1px solid lightgray;
}

div.row > span > a.buy-now {
    color:rgb(0, 94, 182);
    font-size: 1.6em;
}

div.row > div.col-list-container {
    margin-top: -2em;
}

i.fa-check {
    color:#0061fe;
}

/* enterprise */
div.enterprise-box {
    width: 95%;
    margin: 3em auto 13em;
    border: 2px solid lightgray;
    height: 300px;
}

div.enterprise-box > div.enterprise-entity {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 2em;
    text-align: center;
    border-bottom: 2px solid lightgray;
}

div.enterprise-content-container {
    position: relative;
    width: 100%;
    height: calc(100% - 1.5em);
    padding-top: 6em;
    padding-left: 8em;
}

div.enterprise-content-container > span.enterprise-button{
    position: absolute;
    top: 7em;
    right: 7em;
    background-color:#0061ff;
    padding: 1em 3em;
}

div.enterprise-content-container > h2.enterprise {
    font-size: 2.8em;
    margin-bottom: .8em;
}

div.enterprise-content-container > h3.enterprise-subtitle {
    font-size: 2em;
    margin-bottom: 1.5em;
}

div.enterprise-content-container > p.enterprise-text {
    font-size: 1.8em;
}

span.enterprise-button > a.enterprise-btn {
    font-size: 1.8em;
    color: white;
}

/* /first section  */

/* second section */
section > div.second-section-container {
    width: 95%;
    margin: 0 auto;
}

div.second-section-container > div.col-img {
    width: 50%;
    height: 500px;
}

div.col-img > img.partner-img {
    height: 100%;
    object-fit: cover;
}

div.second-section-container > div.col-content {
    width: calc(50% - 3em);
    height: 80%;
    margin-top: 4em;
    margin-left: 3em;
}

div.text {
    margin-top: 3em;
    padding-bottom: 3em;
}

div.text > h3.content-title {
    margin-bottom: 1.5em;
    font-size: 2.8em;
}

div.text > p.content-text {
    margin-bottom: 2em;
    font-size: 1.8em;
}

div.text > span.content-button {
    padding: .5em 1.1em;
    border: 2px solid black;
    font-size: 1.8em;
    color: black;
}

span.content-button > a {
    color: inherit;
}

/* /second section */

/* third section */
div.third-section-container {
    margin: 5em auto 4em;
    width: 95%;
}

div.third-section-container > h2.section-title {
    font-size: 3.5em;
    margin-bottom: 1.5em;
}

div.row div.card:nth-child(2) {
    margin: 0 10em;
}

div.third-section-container > div.row > div.card {
    width: calc(100% / 3 - 6.68em);
}


div.card > div.card-top {
    margin-left: .5em;
    height: 250px;
}

div.card > div.card-top > img.card-img {
    height: 100%;
    width: auto;
}

div.card-bottom > h4.card-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

div.card-bottom {
    padding-bottom: 6em;
}

div.card-bottom > p.card-text {
    font-size: 1.9em;
}

a.underline-text {
    color: inherit;
    text-decoration: underline;
}

div.bottom-content > h2.bottom-content-title{
    font-size: 3.2em;
    margin-bottom: 1em;
}

div.bottom-content > a.bottom-link {
    font-size: 1.7em;
    text-decoration: underline;
    color: #106bff;
}

#fw-600:hover {
    font-weight: 600;
}
/* /third section */

/* banner bottom */
div.banner-bottom-container > div.brands-box > div.col-center {
    width: 40%;
    height: 30vw;
    background-color:#f5f5f5;
    padding-bottom: 5em;
    overflow: auto;
}

div.brands-box > div.col-center > div.designit-logo {
    width: 30%;
    margin-top: 8em;
    margin-left: 3.5em;
}

div.col-center > p.banner-bottom-text {
    font-size: 2em;
    margin-top: 3.5em;
    margin-left: 1.5em;
    margin-right: 2em;
}

div.col-center > div.cit {
    font-size: 2em;
    margin-top: 3em;
    margin-left: 1.5em;
}

p.banner-bottom-text > span.banner-bottom-central-content-hr {
    padding-top: 2em;
    border-top: 1px solid lightgray;
}

div.banner-bottom-container > div.brands-box > div.col-aside{
    width: 30%;
}


div.row-brand > div.brand {
    height: calc(30vw / 2 - .05em);
    width: calc(30vw / 2 - .4em);
    text-align: center;
}

div.brand > img.brand-img {
    width: 50%;
    height: 15vw;
    line-height: 15vw;
}

.lightgreen {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

.purple {
    background-color: #61082b;
}

.blue {
    background-color: #0093ce;
}

.red-1 {
    background-color: #ff1c1c;
}

.red-2 {
    background-color: #d5001f;
}

.lightblue {
    background-color: #b4d0e7;
}

.darkblue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}

/* section bottom of banner */
div.bg-lightgreen {
    height: 20vw;
    background-color: #b4d0e7;
    position: relative
}

div.bottom-banner-title-container {
    width: 35%; 
    font-size: 3em;
    color: #61082b;
    position: absolute;
    top: 35%;
    left: 15%;
}

span.banner-bottom-btn {
    padding: .6em 2em;
    font-size: 1.8em;
    background-color: #ffffff ;
    color: black;
    position: absolute;
    top: 35%;
    right: 18%;
}

span.banner-bottom-btn > a{
    color: inherit;
}
/* banner bottom  */

/* prefooter */
section.prefooter-section {
    padding-top: 3em;
    padding-bottom: 10em;
}

section.prefooter-section > div.prefooter-title {
    width: 90%;
    margin: 3em auto 2em;
    font-size: 2.5em;
}

div.prefooter-li-content > div.li-content > h3.li-title {
    width: 90%;
    line-height: 6em;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

div.prefooter-li-content {
    position: relative;
}

div.li-content > div.hidden-content-container {
    width: 90%;
    margin: 2em auto;
    font-size: 1.5em;
    padding: 0 4em 2em 4em;
    border-bottom: 1px solid lightgray;
    display: none;
}

div.li-content:hover div.hidden-content-container {
    display: block;
}

span.li-entity > i.fa-angle-down {
    font-size: 1.6em;
    position: absolute;
    right: 3%;
    top: 35%;
}
/* /prefooter */
/* /MAIN */

/* FOOTER */
footer.footer {
    background-color: black;
}

div.footer-container {
    width: 80%;
    margin: 0 auto;
}

div.footer-top > div.col-footer {
    width: calc(100% / 5);
    height: 380px;
    margin-top: 3.5em;
}

div.col-footer > h4.footer-title {
    font-size: 2.3em;
    font-weight: 800;
    color: white;
    margin-top: 2em;
    margin-bottom: 1em;
}

div.col-footer > ul.footer-list > li {
    font-size: 1.8em;
    line-height: 1.5em;
    color: white;
}

div.footer-container > div.footer-bottom {
    padding-bottom: 6em;
}

div.footer-bottom-content {
    color: lightgray;
    font-size: 2em;
    padding-top: 3em;
    border-top: 1px solid lightgray;
    display: inline-block;
}
/* FOOTER */
